<% if(model.comments.length){ %>
<h3>Comments</h3>
<ul>
  <% model.comments.forEach(function(comment){ %>
  <li>
    <h3><%= comment.authorName %></h3>
    <p><%= comment.bodyText %></p>
  </li>
  <% }); %>
</ul>
<% } %>

<h3>Leave a Reply</h3>
<form
  id="commentForm"
  action="<%= config.environment.functionsUrl %>"
  method="post"
  data-type="comment"
>
  <input
    id="postGuid"
    type="hidden"
    name="postGuid"
    value="<%- pageModel.guid %>"
  />
  <div>
    <label for="comment">comment</label>
    <textarea required rows="5" id="comment" name="comment"></textarea>
  </div>
  <div>
    <label for="authorName">name</label>
    <input
      required
      type="text"
      id="authorName"
      name="authorName"
      autocomplete="name"
    />
  </div>
  <div>
    <label for="authorEmail">email</label>
    <input
      required
      type="email"
      id="authorEmail"
      name="authorEmail"
      autocomplete="email"
    />
  </div>
  <button type="submit">Submit</button>
  <div style="position: absolute; left: -5000px" aria-hidden="true">
    <input
      id="password_honeyBadger"
      type="text"
      name="password_honeyBadger"
      tabindex="-1"
      value=""
      autocomplete="off"
    />
  </div>
</form>
<div id="form-submit-msg"></div>
