<div id="sidebar">
  <div id="sidebar-inner">
    <ul class="sidebar-list style-none">
      <li><a href="/jobs/">Job Listings</a></li>
    </ul>
    <form
      id="search-form"
      action="https://www.google.com/search"
      method="get"
      class="search"
    >
      <input
        type="hidden"
        name="q"
        id="q"
        value="site:<%= config.environment.domain %>"
      />
      <label for="search-str">Search Articles</label>
      <input type="text" name="q" id="search-str" />
      <button type="submit" class="submit">Search</button>
    </form>

    <!-- tags -->
    <% if (model.archives['tags']) { %>
    <div class="tag-list-container">
      <h3>All Tags:</h3>
      <ul class="tag-list">
        <% model.archives['tags'].forEach(function(tagData) { %>
        <li>
          <a href="/<%= tagData.slug %>/"><%= tagData.name %></a>
        </li>
        <% }); %>
      </ul>
    </div>
    <% } %>
  </div>
</div>
