<div id="sidebar">
  <% if (model.tags || model.slug.startsWith('jobs')) { %>
  <div class="aside-inner-container hide-sm">
    <div class="aside-inner orange-bg ad-sidebar">
      <p class="help-text">advertisement</p>
      <ins
        class="adsbygoogle"
        data-ad-client="ca-pub-6747903070938911"
        data-ad-slot="4784056619"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  <% } %>
  <div class="sidebar-inner">
    <p>Get updates from Dev Extent</p>
    <form
      action="https://devextent.us4.list-manage.com/subscribe/post?u=cea6aedcb070461640487756a&amp;id=daf01c194f"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <input
        type="email"
        value=""
        name="EMAIL"
        class="email"
        id="mce-EMAIL"
        placeholder="email address"
        required
      />

      <button
        type="submit"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="submit"
      >
        Sign Up
      </button>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_cea6aedcb070461640487756a_daf01c194f"
          tabindex="-1"
          value=""
        />
      </div>
    </form>
  </div>
  <div class="sidebar-inner">
    <form
      id="search-form"
      action="https://www.google.com/search"
      method="get"
      class="search"
    >
      <input
        type="hidden"
        name="q"
        id="q"
        value="site:<%= config.environment.domain %>"
      />
      <label for="search-str">Search Articles</label>
      <input type="text" name="q" id="search-str" />
      <button type="submit" class="submit">Search</button>
    </form>

    <!-- tags -->
    <% if (model.archives['tags']) { %>
    <div class="tag-list-container">
      <h3>All Tags:</h3>
      <ul class="tag-list">
        <% model.archives['tags'].forEach(function(tagData) { %>
        <li>
          <a href="/<%= tagData.slug %>/"><%= tagData.name %></a>
        </li>
        <% }); %>
      </ul>
    </div>
    <% } %>
  </div>
</div>
