@import "reset.scss";
@import "../node_modules/highlight.js/scss/a11y-dark.scss";

$breakpoint: "800px";

body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.8;
  background-color: #efefef;
  a {
    color: #0033cc;
  }
  @media (prefers-color-scheme: dark) {
    background-color: #020202;
    color: #eee;
    a {
      color: #809fff;
    }
  }
}

.grid-wrapper {
  padding: 30px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto minmax(0, 1fr) auto auto;
  grid-template-areas:
    "header"
    "main"
    "after-main"
    "aside"
    "footer";
  width: 100%;
  grid-column-gap: 15px;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 100vh;
  @media (min-width: $breakpoint) {
    padding: 0 15px;
    padding-bottom: 30px;
    grid-template-columns: minmax(0, 1fr) 332px;
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
      "header header"
      "main aside"
      "after-main after-main"
      "footer footer";
  }
  &.full-width {
    text-align: center;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto;
    h1 {
      margin-bottom: 30px;
    }
  }
  .jobs-list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    margin-top: 45px;
    margin-bottom: 30px;
    width: 100%;
    .listing {
      padding: 15px;
      display: flex;
      border: 1px solid lightgray;
      flex-direction: column;
      @media (min-width: $breakpoint) {
        flex-direction: row;
      }
      border-radius: 10px;
      .listing-info {
        p {
          margin: 0;
        }
        img {
          @media (min-width: $breakpoint) {
            margin-left: 30px;
            margin-right: 45px;
            align-self: center;
          }
          width: 128px;
          height: 128px;
        }
        .listing-details {
          padding: 0;
          margin: 0;
          li {
            margin-left: 2px;
            margin-right: 2px;
            display: inline-block;
            border: 1px solid lightgray;
            border-radius: 4px;
            margin-top: 2px;
            margin-bottom: 2px;
            padding-left: 2px;
            padding-right: 2px;
          }
        }
        display: flex;
        flex-direction: column;
        text-align: left;
        @media (min-width: $breakpoint) {
          flex-direction: row;
        }
      }
    }
  }
  .jobs-page-content {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    #mc-embedded-subscribe-form {
      max-width: 320px;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
}

#header {
  grid-area: header;
  margin: 0 auto 30px auto;
  width: 100%;
  .header-list {
    display: flex;
    justify-content: center;
    li {
      margin-right: 10px;
    }
  }
  @media (min-width: $breakpoint) {
    margin: 30px auto 0 auto;
    img {
      height: 90px;
      width: 728px;
    }
  }
}

#main {
  grid-area: main;
  margin: 0 0 15px 0;
  @media (min-width: $breakpoint) {
    border-radius: 10px;
  }
  article {
    @media (min-width: $breakpoint) {
      padding-top: 30px;
    }
    & > h1.title:first-child {
      margin-top: 0;
      margin-bottom: 30px;
      background-color: white;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      @media (prefers-color-scheme: dark) {
        background-color: #121212;
      }
      @media (min-width: $breakpoint) {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding-left: 15px;
      }
    }
    &
      > .post-list:first-child
      > .post-list-item
      > .post-image.post-index:first-child {
      @media (min-width: $breakpoint) {
        margin-top: 0;
      }
    }
    .title {
      padding-left: 15px;
      @media (min-width: $breakpoint) {
        padding-left: 0;
      }
    }
    .article-image-wrapper {
      position: relative;
      @media (prefers-color-scheme: dark) {
        &:after {
          content: "";
          background-color: #020202;
          opacity: 0.2;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    .article-content-wrapper {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
      & + .image-content-wrapper + .article-content-wrapper {
        margin-top: 15px;
      }
      .title {
        padding: 0;
      }
      background-color: white;
      @media (prefers-color-scheme: dark) {
        background-color: #121212;
      }
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      @media (min-width: $breakpoint) {
        border: 1px solid lightgray;
        box-shadow: 0 2px 4px lightgray;
        border-radius: 10px;
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 2px 4px #020202;
        }
        &.has-image {
          border-radius: 0;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
  .post-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &.home.featured {
      .post-list-item {
        &:first-of-type {
          margin-bottom: 30px;
        }
        &:nth-of-type(2) {
          border-top: 1px solid lightgray;
        }
      }
      @media (min-width: $breakpoint) {
        .post-list-item {
          &:first-of-type {
            border-radius: 10px;
            border: none;
            .post-list-item-content {
              border: 1px solid lightgray;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              &.rounded {
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
    .post-list-item {
      background-size: cover;
      background-color: #fff;
      @media (prefers-color-scheme: dark) {
        background-color: #121212;
      }
      border-top: 1px solid lightgray;
      @media (min-width: $breakpoint) {
        border: 1px solid lightgray;
        box-shadow: 0 2px 4px lightgray;
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 2px 4px #020202;
        }
        &:first-of-type {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        &:last-of-type {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:not(:first-of-type) {
        border-top: none;
      }
      border-bottom: 1px solid lightgray;
      .post-list-item-image {
        position: relative;
        @media (prefers-color-scheme: dark) {
          &:after {
            content: "";
            background-color: #020202;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      .post-list-item-content {
        padding: 30px 15px;
        .post-meta {
          font-size: 14px;
        }
      }
    }
  }

  #pagination-links {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    .current {
      font-weight: bold;
    }
    a {
      padding: 0 14px;
      &.older {
        &:after {
          content: "";
          border: solid;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          margin-left: 2px;
          margin-bottom: 1px;
        }
      }
      &.newer {
        align-self: flex-start;
        &:before {
          content: "";
          border: solid;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(135deg);
          margin-right: 2px;
          margin-bottom: 1px;
        }
      }
    }
  }

  .tag-list {
    display: inline-block;
  }
}

#aside {
  grid-area: aside;
  margin: 15px 0;
  @media (min-width: $breakpoint) {
    margin-top: 0;
  }
  #sidebar {
    @media (min-width: $breakpoint) {
      padding-top: 30px;
    }
    .sidebar-inner {
      &:last-of-type {
        margin-top: 15px;
      }
      background-color: #fff;
      @media (prefers-color-scheme: dark) {
        background-color: #121212;
      }
      padding: 30px 15px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      @media (min-width: $breakpoint) {
        box-shadow: 0 2px 4px lightgray;
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 2px 4px #020202;
        }
        border: 1px solid lightgray;
        border-radius: 10px;
      }
      #search-form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 30px;
      }
    }
  }

  .aside-inner-container {
    margin: 15px auto 15px auto;
    @media (max-width: 799px) {
      display: none;
    }
    .aside-inner {
      padding: 0 15px 15px 15px;
      margin: 0 auto;
      .help-text {
        text-align: center;
        color: #020202;
      }
      background-color: #f69225;
      border-radius: 10px;
      .adsbygoogle {
        display: block;
        width: 300px;
        height: 250px;
        @media (max-width: 799px) {
          display: none;
        }
      }
    }
  }
}

#after-main {
  grid-area: after-main;
  min-height: 15px;
  .inner {
    margin: 0 auto;
  }
}

#footer {
  padding: 15px 0;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  @media (prefers-color-scheme: dark) {
    background-color: #121212;
  }
  margin: 15px 0 0 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  @media (min-width: $breakpoint) {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px lightgray;
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 2px 4px #020202;
    }
  }
  p {
    margin: 0;
  }
  .footer-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .footer-list-icons {
    margin: 0 0 15px 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    padding-top: 0.5rem;
    li a {
      margin: 0 10px;
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;
    }
  }
}

.tag-list-container {
  margin: 0;
  padding: 0;
  .tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      &:hover,
      &:focus {
        transform: scale(1.05);
      }
      margin: 4px;
      border: 1px solid lightgray;
      border-radius: 4px;
      display: inline-block;
      box-shadow: 0 2px 4px lightgray;
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 4px #020202;
      }
      a {
        display: inline-block;
        padding: 2px 16px;
      }
    }
  }
}

p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  &.post-image {
    display: flex;
    border-radius: 10px;
    border: none;
    border-top: 1px solid lightgray;
    &.post-index {
      max-width: 100%;
      margin: 0;
      border: none;
      border-bottom: 1px solid lightgray;
      @media (min-width: $breakpoint) {
        border: 1px solid lightgray;
        border-bottom: none;
      }
    }
    border-radius: 0;
    @media (min-width: $breakpoint) {
      border: 1px solid lightgray;
      border-bottom: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

pre {
  line-height: 1.4;
  max-width: 100vw;
  margin: 1em -15px;
  padding: 15px;
  overflow-x: auto;
  clear: both;
  // match the imported highlight.js theme
  background: #2b2b2b;
  word-break: normal;
  hyphens: none;
  position: relative;

  .hljs {
    background: unset;
    overflow-x: unset;
    display: unset;
    padding: unset;
    white-space: pre;
    width: 100%;
    min-width: 100%;
  }
}

kbd {
  background-color: lightgrey;
  border-radius: 2px;
  @media (prefers-color-scheme: dark) {
    color: initial;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sidebar-image-wrapper {
  text-align: center;
  margin-bottom: 10px;
  a {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
  }
  svg {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    width: auto;
    margin: 0 auto;
  }
}

.edit-post-line {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: -10px;
}

hr {
  width: 75%;
  text-align: center;
  height: 1px;
  margin: 0 auto 20px auto;
  border: none;
  background: lightgray;
}

ul {
  &.style-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  margin-top: 0;
}

form {
  input {
    margin-bottom: 10px;
    &:not([type="submit"]) {
      width: 100%;
    }
  }
}

.help-text {
  font-size: 0.75rem;
  padding: 0px;
  margin: 0;
}

#mc-embedded-subscribe-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: baseline;
}
